<mat-toolbar color="accent">
    <mat-toolbar-row>
        <a mat-button routerLink="/viewtrainings">Training Management</a>
        <br>
        <button mat-button [matMenuTriggerFor]="menu2">Participant Enrollment</button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item routerLink="/">Add Training</button>
          <button mat-menu-item routerLink="/">View Trainings</button>
          <button mat-menu-item routerLink="/">Edit Trainings</button>
        </mat-menu>
  
      <span class="spacer"></span>

      <mat-icon>account_circle</mat-icon>
    
      <button mat-button [matMenuTriggerFor]="menu3">Username</button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </mat-menu>
      
    </mat-toolbar-row>
  </mat-toolbar>
