<div class="mat-card-cvr" >
    <mat-card class="example-card">

      <mat-card-header>
          <mat-card-title>Edit&nbsp;Training</mat-card-title>
      </mat-card-header>

      <mat-card-content>
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

                <mat-form-field class="full-width">
                    <mat-label>Training Name</mat-label>
                    <input matInput type="text" formControlName="trainingName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.trainingName.errors }" required/>
                    <mat-error *ngIf="submitted && f.trainingName.errors">
                        <mat-error *ngIf="f.trainingName.errors.required">Training Name is required</mat-error>
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="full-width">
                    <mat-select placeholder="Faculty Name" formControlName="facultyName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.facultyName.errors }" required>
                        <mat-option *ngFor="let faculty of faculties" [value]="faculty.name">
                            {{faculty.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && f.facultyName.errors">
                        <mat-error *ngIf="f.facultyName.errors.required">Please choose a faculty</mat-error>
                    </mat-error>
                </mat-form-field> -->

                <mat-form-field class="full-width">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="sD" formControlName="startDate" required/>
                    <mat-datepicker-toggle matSuffix [for]="sD"></mat-datepicker-toggle>
                    <mat-datepicker #sD></mat-datepicker>
                    <mat-error *ngIf="submitted && f.startDate.errors">
                        <mat-error *ngIf="f.startDate.errors.required">Please choose a date</mat-error>
                    </mat-error>    
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="eD" formControlName="endDate" required/>
                    <mat-datepicker-toggle matSuffix [for]="eD"></mat-datepicker-toggle>
                    <mat-datepicker #eD></mat-datepicker>
                    <mat-error *ngIf="submitted && f.endDate.errors">
                        <mat-error *ngIf="f.endDate.errors.required">Please choose a date</mat-error>
                    </mat-error>    
                </mat-form-field>

                <mat-card-actions>
                    <button mat-raised-button color="primary">Edit Training</button><br><br>
                    <button mat-raised-button type="reset" (click)="onReset()" color="primary">Cancel</button>
                </mat-card-actions>

                
                <!-- <div class="alert alert-warning" *ngIf="f.submitted && isSuccessful">
                    Training Edited Successfully!!
                </div>
                <div class="alert alert-warning" *ngIf="f.submitted && isUpdateFailed">
                    Training Edit Failed!{{ errorMessage }}
                </div> -->
            </form>
        </mat-card-content>
    </mat-card>
</div>
